---
layout: default
---

<table style="width:100%" border="0">

  <!-- experience section -->
  <!-- section header -->
  <tr>
    <td colspan="4" align="left">EXPERIENCE</td>
  </tr>

  {% for pos in site.data.resume.positions %}
    <!-- company name and timeframe -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ pos.company }}</strong></td>
      <td  width="{{ site.right-col-width }}" align="right"><strong>{{ pos.timeframe }}</strong></td>
    </tr>

    <!-- role and location -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ pos.role }}</strong></td>
      <td  width="{{ site.right-col-width }}" align="right"><i>{{ pos.location }}</i></td>
    </tr>

    <!-- description -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">{{ pos.description }}</td>
    </tr>

    <!-- detail sections (technologies, spotlight) -->
    {% for detail in pos.detail %}
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3" style="padding-left:5%"><strong>{{ detail.title }}:</strong> {{ detail.description }}</td>
    </tr>

    {% endfor %}

    {% if pos.projects %}
    <!-- related projects -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3" style="padding-left:5%"><strong>Related Projects:</strong></td>
    <tr>
    {% endif %}

    {% for prj in pos.projects %}
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3" style="padding-left:10%"><a href="#{{ prj.uid }}"><span>{{ prj.title }}</span></a></td>
    </tr>

    {% endfor %}

    <!-- spacer / padding -->
    <tr>
      <td colspan="4" height="30px"></td>
    </tr>

  {% endfor %}
  <!-- end experience section -->

  <!-- projects section -->
  <!-- section header -->
  <tr>
    <td colspan="4" align="left">PROJECTS</td>
  </tr>

  {% for prj in site.data.resume.projects %}
    <!-- project name and timeframe -->

    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><a id="{{ prj.uid }}"><span><strong>{{ prj.title }}</strong></span></a></td>
      <td align="right"><strong>{{ prj.timeframe }}</strong></td>
    </tr>

    <!-- description -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">{{ prj.description }}</td>
    </tr>

    <!-- detail sections (technologies, spotlight) -->
    {% for detail in prj.detail %}
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3" style="padding-left:5%"><strong>{{ detail.title }}:</strong> {{ detail.description }}</td>
    </tr>

    {% endfor %}

    <!-- spacer / padding -->
    <tr>
      <td colspan="4" height="30px"></td>
    </tr>

  {% endfor %}
  <!-- end projects section -->

  <!-- education section -->
  <!-- section header -->
  <tr>
    <td colspan="4" align="left">EDUCATION</td>
  </tr>

  {% for edu in site.data.resume.education %}
    <!-- school name and timeframe -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ edu.school }}</strong></td>
      <td align="right"><strong>{{ edu.timeframe }}</strong></td>
    </tr>

    <!-- program and location -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ edu.program }}</strong></td>
      <td  width="{{ site.right-col-width }}" align="right"><i>{{ edu.location }}</i></td>
    </tr>

    <!-- description -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">{{ edu.description }}</td>
    </tr>

    <!-- spacer / padding -->
    <tr>
      <td colspan="4" height="30px"></td>
    </tr>

  {% endfor %}
  <!-- end education section -->

</table>
