---
layout: default
---

<table style="width:100%" border="0">

  <!-- summary section -->
  <!-- summary header -->
  <tr>
    <td colspan="4" align="left">SUMMARY</td>
  </tr>

  <!-- summary -->
  <tr>
    <td width="{{ site.left-col-width }}"></td>
    <td colspan="3">{{ site.data.resume.summary }}</td>
  </tr>

  <!-- spacer / padding -->
  <tr>
    <td colspan="4" height="25px"></td>
  </tr>

  <!-- experience section -->
  <!-- section header -->
  <tr>
    <td colspan="4" align="left">PROFESSIONAL EXPERIENCE</td>
  </tr>

  {% for pos in site.data.resume.positions %}

    {% if pos.category == "software" %}
    <!-- company name and timeframe -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ pos.company }}</strong></td>
      <td  width="{{ site.right-col-width }}" align="right"><strong>{{ pos.timeframe }}</strong></td>
    </tr>

    <!-- role and location -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ pos.role }}</strong></td>
      <td  width="{{ site.right-col-width }}" align="right"><i>{{ pos.location }}</i></td>
    </tr>

    {% if pos.description %}
    <!-- description -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">{{ pos.description }}</td>
    </tr>
    {% endif %}

    {% if pos.highlights %}
    <!-- highlights -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">
        <ul>
          {% for highlight in pos.highlights %}
            <li>{{ highlight.description}} </li>
          {% endfor %}
        </ul>

      </td>
    </tr>
    {% endif %}

    <!-- detail sections (technologies, spotlight) -->
    {% for detail in pos.detail %}
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3" style="padding-left:5%"><strong>{{ detail.title }}:</strong> {{ detail.description }}</td>
    </tr>

    {% endfor %}

    <!-- spacer / padding -->
    <tr>
      <td colspan="4" height="25px"></td>
    </tr>

    {% endif %}

  {% endfor %}
  <!-- end experience section -->

  <!-- projects section -->
  <!-- section header -->
  <tr>
    <td colspan="4" align="left">OTHER PROJECTS</td>
  </tr>

  {% for prj in site.data.resume.projects %}
    <!-- project name and timeframe -->

    {% if prj.cvOnly == false %}
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><a id="{{ prj.uid }}" {% if prj.link %}href="{{ prj.link}}" target="_blank"{% endif %}><span><strong>{{ prj.title }}</strong></span></a></td>
      <td align="right"><strong>{{ prj.timeframe }}</strong></td>
    </tr>

    <!-- description -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">{{ prj.description }}</td>
    </tr>

    <!-- detail sections (technologies, spotlight) -->
    {% for detail in prj.detail %}
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3" style="padding-left:5%"><strong>{{ detail.title }}:</strong> {{ detail.description }}</td>
    </tr>

    {% endfor %}

    <!-- spacer / padding -->
    <tr>
      <td colspan="4" height="25px"></td>
    </tr>

    {% endif %}

  {% endfor %}
  <!-- end projects section -->

  <!-- education section -->
  <!-- section header -->
  <tr>
    <td colspan="4" align="left">EDUCATION</td>
  </tr>

  {% for edu in site.data.resume.education %}
    <!-- school name and timeframe -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ edu.school }}</strong></td>
      <td align="right"><strong>{{ edu.timeframe }}</strong></td>
    </tr>

    <!-- program and location -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="2"><strong>{{ edu.program }}</strong></td>
      <td  width="{{ site.right-col-width }}" align="right"><i>{{ edu.location }}</i></td>
    </tr>

    <!-- description -->
    <tr>
      <td width="{{ site.left-col-width }}"></td>
      <td colspan="3">{{ edu.description }}</td>
    </tr>

    <!-- spacer / padding -->
    <tr>
      <td colspan="4" height="25px"></td>
    </tr>

  {% endfor %}
  <!-- end education section -->

</table>
