#header {
    min-height: 60px;
    padding-top: 17px;
    border-bottom: 1px solid $grey-color-light;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 21px;
}

#footer {
    font-size: 15px;
    color: $grey-color;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    margin-top: 21px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer span {
    font-size: 13px;
}

.site-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.header-block, .footer-block {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
}

.header-detail {
    font-size: 13px;
}