.m-section-sub {
  margin-left: 15px;
}

.m-section-supporting {
  padding-left: 9px;
  margin-bottom: 9px;
}

.m-span-contextual-text {
  // font-style: italic;
}

.m-span-keywords {
  // font-weight: bold;
  // font-size: 14px;
  font-style: italic;
  width: 100%;
}